* {
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #FF6F61;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.container {
  background-color: #fff;
  margin: 3% auto;
  max-width: 94%;
  overflow: hidden;
}

#to-top-arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: rotate(180deg);
  z-index: 99;
}

/*** ----- navigation ----- ***/
nav {
  align-self: center;
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-areas:
    "logo"
    "work-button"
    "about-button";
  padding: 4rem;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.work-button {
  grid-area: work-button;
}

.about-button {
  grid-area: about-button;
}

.about-button, .work-button {
  align-self: center;
  border: 1px solid black;
  background: #ffffff;
  display: grid;
  justify-items: center;
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
}

.about-button:hover, .work-button:hover {
  border: 1px solid white;
  background: linear-gradient(to top, #005F88 50%, transparent 50%);
}

/*** ----- ----- ----- homepage ----- ----- ----- ***/
.hero {
  margin: 5rem 4rem 0 4rem;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.arrow {
  visibility: hidden;
}

.projects {
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-columns: 1;
  padding: 4rem;
}

.project {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.project-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%
  object-fit: cover;
}

.hover {
  align-items: center;
  align-content: end;
  background: #005F8880;
  border: 1.2rem solid #005F88;
  color: white;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-items: start;
  padding: 4rem;
  position: relative;
  transition: 0.25s;
  transform: translateY(100%);
}

.project:hover .hover {
  transform: translateY(0);
}

.project-button {
  background: #005F88;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

.project-button:hover {
  background: #FF6F61;
}


/*** ----- biography ----- ***/
.about-hero {
  margin: 0 5rem 0 5rem;
  padding: 4rem;
  text-align: center;
}

.biography, .quote {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
}

.biography-column, .quote-column {
  grid-column-start: 2;
  max-width: 750px;
}

.quote-column > h1 {
  font-size: 10rem;
  line-height: 10rem;
  text-align: center;
  padding-top: 4rem;
}

.quote-column > p {
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  font-weight: 100;
}

.instagram {
 background: #BBBDC480;
 display: grid;
 grid-gap: 2rem;
 grid-template-columns: 3px 1fr;
 padding: 5rem 5rem;
 margin: 5rem 0 5rem 0;
}

.husband-image {
  justify-self: center;
}

.instagram-link {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/*** ----- ----- ----- process pages ----- ----- ----- ***/
.process > * {
  grid-column: 2 / -2;
}

.research-and-planning, .research-and-planning-pt2, .early-testing, .user-flows, .branding-development, .content-creation, .mockups-and-testing, .mockups-and-testing-pt2, .conclusion, .project-intro-text {
  padding: 3rem;
}

/* -- grid breakers -- */
.problem-solution, .personas, .flow-images, .ar-images, .testing-wireframes, .grid-breaker-image, .preference-testing, .style-guide-images, .adm-brand-images, .twocol-ar-images, .wireframe-box, .wireframe-images, .mockup-images, .dashboard-comparative-images {
  grid-column: 1 / -1;
}

/* -- greeting card images -- */
.greeting-images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  padding: 5rem 0 5rem 0;
}

/* -- print projects -- */
.project-image {
  display: grid;
  grid-column: 1 / -1;
  justify-content: center;
  object-fit: contain;
  width: 100%;
  height: auto;
  background: #BBBDC480;
}


/* -- project summary -- */
.project-summary {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1;
  padding: 3rem;
}

.dashboard-image, .homepage-image {
  background-color: #BBBDC480;
  box-shadow: 0 0.2rem 0.5rem #BBBDC4;
  grid-row: 1;
  width: 100%;
  height: 40rem;
  justify-self: center;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  margin-bottom: 4rem;
}

.roles, .circle, .ar-roles, .ar-role-circle {
  align-content: center;
  align-self: start;
  display: grid;
  color: white;
  grid-row: 3;
  justify-content: center;
  text-align: center;
}

.role-list {
  list-style: none;
  margin-left: 0;
}

.circle {
  width: 250px;
  height: 250px;
  background: #005F88;
  border-radius: 50%;
}

.summary-text {
  grid-row: 2;
  padding-bottom: 5rem;
}

.cat2-image, .cat-image, .plans-image, .welcome-image, .accreditation-image, .account-laptop-image, .landingpage-laptop-image, .application-laptop-image, .content-management-user-flow-image, .download-screen-wireframe, .brainstorm-sketches1, .logo-iterations, .style-guide2, .adm-brand-image2, .style-guide3, .adm-brand-image3, .dashboard-macbook, .account-mockup-image, .wireframe-sketch, .vignette-subscription-iphone, .adm-wireframe-hifi, .user-test-results1, .user-test-results2, .personas-2 {
  display: none;
}

/* -- problem and solution section -- */
.problem  {
  background-color: #BBBDC480;
  padding: 3rem;
  margin-top: 2rem;
}

.solution {
  background-color: #BBBDC440;
  padding: 3rem;
  margin-top: 2rem;
}

/* -- research and planning section -- */
.mvp {
  padding-bottom: 3rem;
}

.competition, .tasks {
  padding-bottom: 6rem;
}

.survey-results {
  display: grid;
  grid-gap: 2rem;
  padding-top: 5rem;
}

.personas, .preference-testing, .wireframe-box {
  background-color: #BBBDC440;
  display: grid;
  padding: 5rem;
  justify-content: center;
}

.flow-images, .sketch-images, .adm-wireframe-images, .ar-images, .twocol-ar-images, .grid-breaker-image {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
}

.onboarding-user-flow-image, .adm-wireframe-sketch {
  width: 85%;
  height: auto;
}


/* -- testing sections -- */
.user-test-results1, .user-test-results2 {
  box-shadow: 0 0.2rem 1rem #BBBDC4;
}

.mockups-and-testing, .mockups-and-testing-pt2 {
  padding-bottom: 4.2rem;
}

.usability-testing {
  grid-column: 1 / span 3;
}

.navigation-image {
  grid-column: 1 / -1;
  width: 90%;
}

.vignette-flows {
  grid-column: 1 / -1;
  width: 75%;
  height: auto;
}

.vignette-wireframe-sketches {
  width: 100%;
  height: auto;
  padding-top: 5rem;
}

.vignette-brainstorm-sketch {
  width: 100%;
  height: auto;
  padding: 2rem 0 5rem 0;
}

.blockade {
  padding-top: 3rem;
  grid-column: 1 / -1;
  width: 90%;
}

.admissions2 {
  grid-column: 1 / -1;
  width: 90%;
  display: grid;
}

.faculty, .admissions, .biographies, .academics {
  width: 90%;
}

.usability-list {
  grid-column: 1 / -1;
}

.wireframe-images, .logo-development-images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 2rem 0 5rem 0;
}

.logo-styleguide-images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 2rem 0 0 0;
}


.wireframe-testing {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
}

.wireframe-testing-content {
  grid-column: 2 / -2;
}

.upload-screen-wireframe, .onboard-screen-wireframe  {
  justify-self: center;
}


/* -- branding section -- */
.brainstorm-sketches2, .brainstorm-sketches1 {
  width: 80%;
  height: auto;
  justify-content: center;
  justify-self: center;
  padding-bottom: 5rem;
}

.vignette-logo-Sketches, .vignette-logos-refined {
  width: 100%;
  height: auto;
  justify-content: center;
  justify-self: center;
  padding-bottom: 2rem;
}

.logo-images {
  justify-items: center;
}

.style-guide-images, .iphone-images, .adm-brand-images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.dashboard-iphone, .explore1-iphone {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.payment-iphone, .explore2-iphone {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  overflow: hidden;
  margin: 6rem 0 0 10rem;
}

.mockup-images {
  padding-bottom: 5rem;
}

.adm-brand-images, .adm-branding {
  padding-bottom: 2rem;
}

.dashboard-comparative-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  justify-items: center;
  padding-top: 5rem;
  margin: auto;
}

.dashboard-image-1, .subscription-image-1 {
  grid-column: 1;
  justify-self: end;
}

.dashboard-image-2, .subscription-image-2 {
  grid-column: 2;
  justify-self: start;
}

.dashboard-image-1, .dashboard-image-2, .subscription-image-1, .subscription-image-2 {
  box-shadow: 0 0.2rem 0.5rem #BBBDC4;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.conclusion {
  padding-top: 0;
}

/* -- view more projects section -- */
.previous-next-arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.left-arrow {
  transform: rotate(90deg);
}

.left-arrow:hover {
  transform: rotate(60deg);
}

.right-arrow {
  transform: rotate(270deg);
}

.right-arrow:hover {
  transform: rotate(300deg);
}


/* -- hire me section -- */
.work-together {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 30fr 1fr;
  background-color: #005F881A;
  color: #005F88;
  margin: 5rem 5rem 2rem 5rem;
  text-align: center;
}

.work-together-content {
  grid-column: 2;
  padding: 2rem;
}


/* -- footer -- */
footer {
  display: grid;
  grid-column: 2 / -2;
  border-top: 1px solid black;
  font-style: italic;
  margin: 0 5rem 0 5rem;
  padding: 2rem 0 4rem 0;
}

.footer-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.copyright {
  grid-column: 1;
  grid-row: 1;
}

.social-logos {
  grid-column: 1;
  grid-row: 2;
}

.fa {
  color: black;
  margin-right: 1.5rem;
}

.fa:hover {
  color: #FF6F61;
}


/* -- typography -- */
h1 {
  font-family: 'Unna', serif;
  font-size: 4.5rem;
  line-height: 5rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: .05rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

h2 > a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: .05rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  text-decoration: underline;
  line-height: 3.5rem;
}

p {
  font-size: 2rem;
  line-height: 2.7rem;
  padding-bottom: 2rem;
}

li {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: lighter;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-bottom: 2rem;
}

a {
  font-size: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #005F88;
}

b {
  font-weight: bold;
  font-size: 2.25rem;
  color: #FF6F61;
}

 span {
   color: #FF6F61;
   font-weight: 700;
 }

.br {
  display: none;
}

.work-button > a {
  color: black;
}

.about-button > a {
  color: black;
}

/*** ----- ----- ----- media query tablet ----- ----- ----- ***/
@media screen and (min-width: 768px) {

  h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

 b {
   font-size: 5rem;
   line-height: 7rem;
  }

  .br {
    display: block;
  }

  .container {
    background-color: #fff;
    margin: 1.5% auto;
    max-width: 96.5%;
    overflow: hidden;
  }

  nav {
    align-self: center;
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-areas: "work-button . logo . about-button";
    padding: 5rem;
  }

  .hero {
    border-bottom: 1px solid black;
    margin: 0 5rem 0 5rem;
    padding: 4rem;
    text-align: center;
  }

  .hero-text {
    margin: 0 5rem 0 5rem;
  }

  .arrow {
    margin: 10rem 10rem 5rem 10rem;
    visibility: visible;
  }

  .projects {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 5rem;
  }

  /* -- biography -- */
  .instagram {
    grid-template-columns: 3px 1fr 1fr;
    justify-items: center;
    padding-left: 20px;
  }

  .husband-image {
    justify-self: end;
  }

  .cat2-image {
    justify-self: start;
  }

  .instagram-link {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }


  /* -- project summary -- */
  .project-summary {
    background: linear-gradient(to bottom, #BBBDC480 55%, transparent 50%);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem;
  }

  .dashboard-image, .homepage-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    object-fit: cover;
    justify-self: start;
  }

  .roles, .circle {
    grid-column: 2;
    grid-row: 1;
    overflow: visible;
    justify-self: end;
  }

  .roles {
    color: white;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }

  .role-list {
    list-style: none;
    margin-left: 0;
  }

  .circle {
    width: 250px;
    height: 250px;
    background: #005F88;
    border-radius: 50%;
  }

  .account-laptop-image, .landingpage-laptop-image, .application-laptop-image {
    align-self: end;
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 90%;
    justify-self: center;
    padding-left: 22rem;
    overflow: visible;
    object-fit: cover;
  }

  .summary-text {
    grid-column: 2;
    grid-row: 2;
    padding: 5rem 0 1.2rem 5rem;
    /* -- background-color: rgba(255, 255, 255, 0.75);-- */
  }

  /* -- greeting card images -- */
  .greeting-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    padding: 5rem 0 5rem 0;
  }

  .ny2017, .eid2018 {
    justify-self: end;
  }

  .fitr2018, .christmas2017 {
    justify-self: start;
  }

  /* -- print project introduction -- */
  .ar-process {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5rem 0 5rem 0;
  }

  .project-introduction {
    grid-column: 2 / span 3;
    grid-row: 1;
    align-self: center;
  }

  .ar-roles, .ar-role-circle  {
    color: white;
    grid-column: 5;
    grid-row: 1;
    text-align: center;
    align-self: center;
  }

  /* -- process section -- */
  .upload-screen-wireframe, .onboard-screen-wireframe {
    display: none;
  }

  .cat2-image, .content-management-user-flow-image, .download-screen-wireframe, .style-guide2, .adm-brand-image2, .user-test-results1, .user-test-results2, .account-laptop-image, .landingpage-laptop-image, .application-laptop-image {
    display: block;
  }

  .problem, .solution {
    padding: 5rem;
  }

  .problem-solution, .preference-images, .personas, .flow-images, .ar-images  {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .persona-images {
    align-self: flex-start;
  }

  .preference-testing, .wireframe-box {
    padding: 5rem;
    align-items: center;
  }

  .survey-results {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
  }

  .content-management-user-flow-image {
    justify-self: end;
    width: 85%;
    height: auto;
  }

  .onboarding-user-flow-image {
    justify-self: start;
  }

 .wireframe-images {
   padding-bottom: 5rem;
 }

 .download-screen-wireframe {
   justify-self: center;
 }

 .adm-wireframe-sketch {
   width: 65%;
   height: auto;
  }

  .wireframe-images, .sketch-images, .logo-images, .adm-wireframe-images, .twocol-ar-images {
    display: grid;
    grid-template-columns: 1fr;
    Justify-self: center;
  }

  .stash-logo, .vignette-logo {
    background-color: #BBBDC440;
    padding: 5rem 10rem 5rem 10rem;
    width: 35%;
    height: auto;
  }

  .style-guide-images, .adm-brand-images {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }

  .adm-brand-image2 {
    justify-self: start;
  }

  .adm-brand-image1 {
    justify-self: end;
  }

  .mockup-images {
    padding-bottom: 5rem;
  }

  .user-test-results1 {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }

  .user-test-results2 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    overflow: hidden;
    margin: 5rem 0 0 20rem;
    justify-self: center;
  }

/* -- footer -- */

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .copyright {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }

  .social-logos {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }


}


/*** ----- ----- ----- media query desktop ----- ----- ----- ***/
@media screen and (min-width: 1224px) {

  .container {
    background-color: #fff;
    margin: 1% auto;
    max-width: 98%;
    overflow: hidden;
  }

  nav {
    align-self: center;
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-areas: ". work-button . logo . about-button .";
    padding: 4rem;
  }

  .hero {
    border-bottom: 1px solid black;
    margin: 0 5rem 0 5rem;
    padding: 5rem;
    text-align: center;
  }

  .hero-text {
    margin: 0 20rem 0 20rem;
  }

  .arrow {
    margin: 10rem 10rem 5rem 10rem;
    visibility: visible;
  }

  .arrow:hover {
    margin: 11rem 10rem 4rem 10rem;
  }

  /* -- biography -- */
  .instagram {
    grid-template-columns: 3px 1fr 1fr 1fr;
    justify-content: center;
  }

  .husband-image, .faculty, .academics {
    justify-self: end;
  }

  .cat2-image {
    justify-self: center;
  }

  .cat-image, .admissions, .biographies {
    justify-self: start;
  }

  .instagram-link {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  /* -- print project introduction -- */
.project-introduction {
  grid-column: 2 /  span 4;
  grid-row: 1;
  align-self: center;
}

/* -- greeting card images -- */
.greeting-images {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  padding: 5rem 0 5rem 0;
}

.ny2017, .eid2018, .fitr2018, .christmas2017 {
  justify-self: center;
}

  /* -- project summary -- */
  .process, .ar-process {
    display: grid;
    grid-gap: 5rem 2rem;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  }

  .project-summary {
    background: linear-gradient(to bottom, #BBBDC480 67%, transparent 50%);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5rem;
    max-height: 1000px;
  }

  .dashboard-image, .homepage-image {
    box-shadow: 0 0.2rem 0.5rem #BBBDC4;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  .plans-image, .welcome-image, .accreditation-image {
    align-self: center;
    box-shadow: 0 0.2rem 0.5rem #BBBDC4;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    margin-bottom: 10rem;
    justify-self: end;
    height: 60%;
    weight: auto;
    overflow: hidden;
    visibility: visible;
  }

  .account-laptop-image, .landingpage-laptop-image, .application-laptop-image {
    align-self: end;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    padding-left: 0;
    height: 65%;
    justify-self: end;
    visibility: visible;
  }

  .ar-roles, .ar-role-circle  {
    grid-column: 6;
  }

  .roles {
    grid-column: 4;
  }

  .roles, .ar-roles, .ar-role-circle  {
    color: white;
    display: grid;
    grid-row: 1;
    text-align: center;
  }

  .role-list {
    list-style: none;
    margin-left: 0;
  }

  .circle {
    width: 250px;
    height: 250px;
    background: #005F88;
    border-radius: 50%;
  }

  .summary-text {
    grid-column: 3 / span 2;
    grid-row: 3;
    overflow: visible;
    align-self: end;
  }

  /* -- process section -- */
  .personas, .preference-testing  {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .persona-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .personas-1, .user-test-results1 {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    margin: 0 -8rem 0 0;
  }

  .personas-2, .user-test-results2 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    overflow: hidden;
    margin: 5rem 0 0 20rem;
    justify-self: center;
  }

  .tasks, .vignette-tasks  {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .wireframe-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    padding-bottom: 5rem;
  }

  .upload-screen-wireframe {
    grid-column: 2;
    grid-row: 1;
  }

  .onboard-screen-wireframe {
    grid-column: 2;
    grid-row: 2;
  }

  .download-screen-wireframe {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .sketch-images, .adm-wireframe-images, .twocol-ar-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    padding-top: 5rem;
  }

  .adm-wireframe-images, .twocol-ar-images {
    align-items: center;
    padding-top: 0;
  }

  .adm-wireframe-sketch, .adm-wireframe-hifi  {
    width: 95%;
    height: auto;
  }

  .adm-wireframe-hifi {
    border: 1px solid #BBBDC4;
  }

  .logo-images {
    display: grid;
    justify-items: center;
  }

  .stash-logo, .vignette-logo {
    background-color: #BBBDC440;
    display: grid;
    padding: 5rem 25rem 5rem 25rem;
    margin-top: 5rem;
  }

  .mockup-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-right: 10rem;
  }

  .cat-image, .plans-image, .welcome-image, .accreditation-image, .account-laptop-image, .landingpage-laptop-image, .application-laptop-image, .style-guide3, .adm-brand-image3, .account-mockup-image, .wireframe-sketch, .vignette-subscription-iphone, .brainstorm-sketches1, .adm-wireframe-hifi, .logo-iterations, .upload-screen-wireframe, .onboard-screen-wireframe, .dashboard-macbook, .personas-2 {
    display: block;
  }

  .style-guide-images, .adm-brand-images {
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
  }

  .usability-list {
    grid-column: 1 / span 2;
  }

}


/*** -----
site colors
salmon - #FF6F61
blue - #005F88
gray - #BBBDC4
----- ***/
